
.container{
  margin: auto;
  width: 50%;
  background-color: bisque;
  height: 50vw;
}
img{
  width:20vw ;
  height:20vw;
  border-radius: 50%;
  margin-top: 10px;
  
}
.img{
  display: flex;
  justify-content: center;
 
}
.content{
  font-size: small;
  justify-content: center;
  text-align: center;
  
}
.content >p, .content >h4{
  margin-top: 0px;
  margin-bottom: 0px;
}
.icns{
  display: flex;
  margin-top: 10px;
  justify-content: center;
}
.title{
  text-align: center;
}